@(title: String, currentPage: String)(content: Html)

<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("united/bootstrap.min.css"))">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  </head>
  <body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="@routes.Application.display()">Twitter Bootstrap Example</a>
        <ul class="nav pull-right">
          <li class="@("active".when(currentPage == "Index"))"><a href="@routes.Application.display()">Index</a></li>
          <li class="@("active".when(currentPage == "Page 1"))"><a href="@routes.Application.display()">Page 1</a></li>
          <li class="@("active".when(currentPage == "Page 2"))"><a href="@routes.Application.display()">Page 2</a></li>
        </ul>
      </div>
    </div>
  </div>
  
    @content
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("js/bootstrap.min.js"))"></script>
    <!-- The following is not really necessary; just a sanity check to make sure JQuery is loaded. -->
    <script type="text/javascript">
    if (typeof jQuery == 'undefined') {
      alert("jQuery library is not found!");
    }
    if (typeof jQuery != 'undefined') {  
    // jQuery is loaded => print the version
    alert(jQuery.fn.jquery);
    }
    </script>
  </body>
</html>
